.main {
  overflow: hidden;
}

.grid {
  display: grid;
}

.container {
  width: min(100% - var(--container-padding), var(--container-max-width));
  margin-inline: auto;
}

.section {
  padding-block: 3.5rem 1rem;
}

.flow > * + * {
  margin-top: 1.25em;
}
