*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem); /* 1.5 for both h and p */
  -webkit-font-smoothing: antialiased;
  transition: var(--layout-animation);

  /* Custom for each project */
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
  /* Custom for each project */
  font-weight: var(--font-bold);
  color: var(--primary-color-3);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--component-animation);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: var(--component-animation);
}
