*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  transition: var(--layout-animation);

  /* Custom for each project */
  background-color: var(--neutral-color-2);
  color: var(--primary-color-2);
  font-family: var(--body-font);
  font-size: 16px;
}

h1,
h2,
h3 {
  /* Custom for each project */
  font-weight: var(--font-bold);
  color: var(--primary-color-3);
  line-height: 1.3;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: var(--component-animation);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
