/*----------------- THEME -----------------*/
// Theme variables
body.light-theme {
  --first-color: hsl(250, 66%, 75%);
  --first-color-alt: hsl(250, 66%, 71%);
  --title-color: hsl(219, 15%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --body-color: hsl(219, 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
}

// Theme button
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

// Colors changes in some parts
